################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IdentityServer/bin
/IdentityServer/obj
/TestApi/bin
/TestApi/obj
/TestClient/bin
/TestClient/obj
/MVCClient/bin/Debug/netcoreapp3.1
/MVCClient/obj
/MVCClient/MVCClient.csproj.user
/TestJsClient/bin/Debug/netcoreapp3.1
/TestJsClient/node_modules/.bin
/TestJsClient/node_modules/base64-js
/TestJsClient/node_modules
/TestJsClient/obj/Debug/netcoreapp3.1
/TestJsClient/obj
/TestJsClient/TestJsClient.csproj.user
