################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/IdentityServer/bin/*
/IdentityServer/obj/*
