################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IdentityServer/bin
/IdentityServer/obj
/TestApi/bin
/TestApi/obj
/TestClient/bin
/TestClient/obj
/MVCClient/bin/Debug/netcoreapp3.1
/MVCClient/obj
